h3,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 24rem;
  margin: 2rem auto;
}

.item-wrap {
  border: 2px solid black;
  margin-bottom: 0.25rem;
  width: 100%;
}

.headline-wrap {
  background-color: lightgrey;
  padding: 0.5rem;
  box-shadow: 0 2px black;
  text-align: left;
  cursor: pointer;
}

.content-block {
  overflow: hidden;
  height: 0;
}

.content-block.open {
  height: auto;
}

.content-wrap {
  padding: 0.5rem;
}
