body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}
